:root {
    --bg-color: #eeeeee;
    --text-color: #1a1a1a;

    --font-body: serif;
    --font-heading: sans-serif;
    --font-code: monospace;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-heading);
    color: var(--text-color);
    line-height: 1.2;
}

p {
    font-family: var(--font-body);
    color: var(--text-color);
}

code {
    font-family: var(--font-code);
    color: var(--text-color);
}

body {
    margin: 40em
    auto;
    max-width: 80ch;
    line-height: 1.6;
    font-size: 16pt;
    color: var(--bg-color);
    padding: 0
    10px;
}
